.signup--container {
    height: 100vh;
    margin: 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.form--container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: auto auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
}

.left--image {
    width: 220px;
    height: auto;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg&ga=GA1.2.2074126041.1685353707&semt=ais");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.signup--form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 300px;
}

@media only screen and (max-width: 500px) {
    .signup--form {
        width: 200px;
        transition: all 0.75s;
    }

    .left--image {
        width: 130px;
        transition: all 0.75s;
    }
}

.signup--form__heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup--form__text {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: .65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
}

.form--input {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.form--input label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all .3s ease;
    padding-left: 44px;
}


.form--input input {
    width: 100%;
    margin-left: auto;
    display: flex;
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    background: #fff;
    box-sizing: border-box;
    transition: all .3s linear;
    color: #000;
    font-weight: 400;

}



.form--input input:focus {
    border-bottom: solid 1px #3a86ff;
    outline: 0;
    box-shadow: 0 2px 6px -8px #3a86ff;
}

.signup--submit {
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #3a86ff;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all .3s ease;
    outline: 0;
}

.signup--submit:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px #3a86ff;
}

.signup--submit:hover:active {
    transform: scale(.99);
}


.artist--register:link,
.artist--register:visited {
    color: black;
    margin-top: 20px;
    display: inline-block;
}